@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Major+Mono+Display&display=swap');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Dongle', sans-serif;
  line-height: 1.5;
}

.app {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-01);
  background: var(--background-01);
}

section {
  background: var(--background-02);
  border-radius: 25px;
  padding: 3em 6em;
  border: 1px solid var(--border-color);
}

h2 {
  color: var(--white-02);
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
}

.timer {
  color: var(--white-01);
  font-family: 'Major Mono Display', monospace;
  font-size: 80px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  outline: none;
  border: 2px solid var(--border-color);
  font-size: 30px;
  background: transparent;
  color: var(--white-01);
  border-radius: 12px;
  font-family: 'Dongle', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 0px 30px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.buttons button:hover {
  border-radius: 10px;
  background: var(--white-01);
  color: var(--background-01);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.buttons button:not(:last-child) {
  margin-right: 15px;
}

@media (max-width: 780px) {
  h2 {
    font-size: 22px;
  }

  .timer {
    font-size: 80px;
  }

  .buttons button {
    font-size: 18px;
  }
}
